<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <%- typeof customCSS !== 'undefined' ? customCSS : '' %>
</head>
<body>
    <% if (typeof user !== 'undefined' && user) { %>
        <%- include('partials/header', { user: user }) %>
    <% } %>
    
    <main class="<%= typeof user !== 'undefined' && user ? 'main-content' : '' %>">
        <%- body %>
    </main>
    
    <% if (typeof user !== 'undefined' && user) { %>
        <%- include('partials/footer') %>
    <% } %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
    <script src="/js/app.js"></script>
    <%- typeof customJS !== 'undefined' ? customJS : '' %>
</body>
</html>